<ion-content padding>
  <ion-back-button defaultHref="/register/details" icon="close" text="" color="secondary" id="close"></ion-back-button>

  <h2 padding>Step 2/3: Enter your address</h2>

  <ion-item>
    <ion-input [(ngModel)]="houseNumber" required type="number" placeholder="House number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="address1" required type="text" placeholder="Address line 1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="address2" required type="text" placeholder="Address line 2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="city" required type="text" placeholder="City"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="postcode" required type="text" placeholder="Postcode"></ion-input>
  </ion-item>

  <ion-button (click)="submit()" expand="block">Save and continue</ion-button>
</ion-content>
