<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="open">
      <ion-label>In progress</ion-label>
    </ion-segment-button>

    <ion-segment-button value="all">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-spinner *ngIf="loading" name="bubbles" color="primary"></ion-spinner>

  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'open'">
      <div *ngFor="let order of inProgressOrders">
        <app-order-card [order]="order" (viewOrder)="onViewOrder($event)"></app-order-card>
      </div>

      <div *ngIf="!loading && inProgressOrders.length === 0" class="no-orders-found">
        <p>There are currently no in progress orders.</p>

        <div *ngIf="isAdmin">
          <p>As a club admin you can initiate an order below</p>

          <ion-button (click)="initiateOrder()" expand="block" color="primary">Initiate order</ion-button>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'all'">
      <div *ngFor="let order of completedOrders">
        <app-order-card [order]="order" (viewOrder)="onViewOrder($event)"></app-order-card>
      </div>

      <p *ngIf="!loading && completedOrders.length === 0" class="no-orders-found">There are currently no completed orders for this club.</p>
    </div>
  </div>

</ion-content>
