<ion-card>
  <ion-item>
    <app-order-status [order]="order" slot="end"></app-order-status>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Order reference</h2>
      <p>{{ order.orderId }}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Deadline date</h2>
      <p>{{ order.deadlineDate | date:'fullDate' }}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Number of participants</h2>
      <p>{{ order.numberOfParticipants }}</p>
    </ion-label>
  </ion-item>

  <ion-button (click)="view(order)" expand="full" color="primary" fill="clear">View order</ion-button>
</ion-card>
