<ion-content padding>
  <img id="login-logo" class="center" src="assets/icon/logo-navy.png"/>

  <ion-item>
    <ion-input [(ngModel)]="email" required type="text" placeholder="Email address"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="password" required type="password" placeholder="Password"></ion-input>
  </ion-item>

  <ion-button (click)="submit()" expand="block">Sign in</ion-button>

  <ion-button href="/register/details" routerDirection="forward" fill="clear" id="sign-up" class="center">Sign up for free</ion-button>
</ion-content>
