<ion-header>
  <ion-toolbar color="light">
    <ion-back-button defaultHref="/register/clubs"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 padding>Choose your club</h2>

  <ion-button (click)="joinClub()" expand="block">Join club</ion-button>

  <ion-spinner *ngIf="!club" name="bubbles" color="primary"></ion-spinner>

  <div *ngIf="club">
    <ion-list>
      <ion-list-header>
        <ion-label>Club information</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>
          <h2>Admin</h2>
          <p>{{ club.admin }}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Created date</h2>
          <p>{{ club.createdDate | date:'fullDate' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>{{ club.numberOfMembers }} members</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let member of club.members">
        <ion-label>
          {{ member.name }}
        </ion-label>
        <ion-badge *ngIf="member.isAdmin" color="primary" slot="end">Admin</ion-badge>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
