// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.center {
  text-align: center;
  margin: auto;
  display: block;
}

.btn-link {
  text-decoration: underline
}

#close {
  font-size: 40px;
}

.form-group-error {
  border-left: 5px solid var(--ion-color-danger);

  .error-message {
    font-size: 14px;
    padding-left: 16px;
    margin-top: 5px;
    color: var(--ion-color-danger);
  }
}